$primary-component-color: pink !default;
$primary-component-background: purple !default;
.wrapper {
  display: block;
  color: $primary-component-color;
  background-color: $primary-component-background;
}
